* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background-color: black;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(110, 130, 219);
  border-radius: 999px;
}
body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.712);
}
.container {
  margin-top: 50px;
  background-color: azure;
  padding: 20px;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 25px;
  box-shadow: 0 0 25px black;
}

.container h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.inputfield {
  background-color: white;
  height: 55px;
  padding: 8px;
  box-shadow: 0px 0px 15px black;
  border-radius: 15px;
  display: flex;
  gap: 10px;
}
.inputs {
  outline: none;
  border: 1px solid blue;
  width: 150px;
  border-radius: 25px;
  padding: 2px 5px;
  width: 100%;
}

.inputs option {
  background-color: rgb(41, 42, 42);
  width: 20%;
  color: cyan;
}

.inputs option:hover {
  background-color: lightblue;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputfield .btn {
  border-radius: 25px;
  width: 50%;
  font-weight: 600;
  color: aqua;
  background-color: blue;
  border: 1px solid gray;
}
.searchfield {
  background-color: white;
  height: 40px;
  padding: 2px 6px;
  box-shadow: 0px 0px 5px black;
  border-radius: 15px;
  display: flex;
  overflow: hidden;
  gap: 10px;
}
.search {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
}
.groups {
  background-color: transparent;
  height: 40px;
  padding: 6px;
  display: flex;
  gap: 30px;
  justify-content: center;
}
.groups .btn {
  width: 70px;
  background-color: white;
  border-radius: 25px;
  padding: 4px;
  font-weight: 600;
  border: 1px solid black;
  transition: 0.3s;
}
.groups .btn:hover {
  background-color: blue;
  color: white;
}
.groups .btn.active {
  background-color: blue;
  color: white;
}
.display-box {
  width: 100%;
  padding: 3px;
}
.btn-div {
  display: flex;
  justify-content: end;
  margin-bottom: 3px;
}
.clrbtn {
  margin-right: 10px;
  background-color: aquamarine;
  width: 13%;
  padding: 3px;
  border-radius: 10px;
  border: 1px solid grey;
  font-weight: bold;
  box-shadow: 0 0 25px black;
}
table {
  border-collapse: collapse;
  width: 100%;
  background-color: black;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 0 25px black;
}

th,
td {
  border: 1px solid rgba(0, 255, 200, 0.295);
  padding: 20px;
  text-align: center;
}
.td-btn {
  display: flex;
  justify-content: center;
  gap: 10px;
}

thead {
  text-transform: uppercase;
  color: rgb(24, 255, 255);
}
tbody {
  color: rgb(116, 227, 102);
  font-weight: 600;
  text-transform: capitalize;
}
.edit-btn {
  background-color: rgba(240, 240, 18, 0.563);
  width: 100%;

  font-weight: 700;
  border-radius: 30px;
  border: 1px solid yellow;
  padding: 5px;
  color: white;
}
.del-btn {
  background-color: rgba(240, 18, 18, 0.563);
  width: 100%;
  font-weight: 700;
  border-radius: 30px;
  border: 1px solid rgb(255, 0, 0);
  padding: 5px;
  color: white;
}
.friend {
  background-color: rgba(77, 255, 71, 0.568);
  padding: 2px 8px;
  color: powderblue;
  border-radius: 50px;
}
.family {
  background-color: rgba(135, 71, 255, 0.568);
  padding: 2px 8px;
  color: powderblue;
  border-radius: 50px;
}
.work {
  background-color: rgba(255, 71, 249, 0.568);
  padding: 2px 8px;
  color: powderblue;
  border-radius: 50px;
}
@media (max-width: 850px) {
  body {
    padding-top: 0;
  }
  .container::-webkit-scrollbar {
    width: 5px;
  }
  .container::-webkit-scrollbar-track {
    background-color: black;
  }
  .container::-webkit-scrollbar-thumb {
    background-color: rgb(110, 130, 219);
    border-radius: 999px;
  }
  .container {
    margin-top: 0;
    margin-left: 0;
    padding: 8px 15px;
    width: 100%;
    height: 100vh;
    border-radius: 0;
    overflow: hidden;
    overflow-y: scroll;
  }
  .searchfield input {
    height: 40px;
    padding: 2px 3px;
  }
}
